
.pathfinder {
    display:grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "menu menu"
    "options grid";
    border: 1px solid black;
    background-color: var(--lightgray);
    padding-bottom: 2rem;
    margin-top: 2rem;
}


.menu {
    grid-area: menu;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}


.menu-btn {
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 1rem;
}

.help {
    font-weight: 600;
    background-color: var(--primary);;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 2px solid black;
}

.menu-select-label {
    border: 1px black;
    font-size: 1.3rem;
    font-weight: 600;
}

.menu-select {
    border-radius: 0;
    font-size: 1rem;
    outline: none;
}

.menu-select option {
    font-family: "Poppins";
}

.options {
    padding: 1rem 0rem;
    grid-area: options;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    background-color: var(--almostwhite);
    width: 80%;
    margin: 0 auto;
}


.option {
    background-color: var(--darkergray);
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0rem;
    font-size: 0.8rem;
}

.grid {
    grid-area: grid;
    margin: 0 auto;
}



.rowWrapper {
    display: flex;
}

.btn {
    border: none;
    cursor: pointer;
}

.active {
    background-color: var(--orange);
}

.inactive {
    pointer-events: none;
    background-color: var(--darkgray);
}




